In [1]:
import pandas as pd
import numpy as np

Face Mask PK100
Gloves PK100
Surgical Mask PK100
Cotton Swabs PK100

Bandag PK50
Syringe PK50
Oxygen Mask PK50
Needle PK50
Needle Holder PK50

Forceps DZ
Cotton Wool Dz
Scissor DZ
Saline Bag DZ

In [4]:
df = pd.read_csv("Final_Dataset_V2.csv")
df.head()

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_Start_Date,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Unit_Price ($),Total_Price ($),Department
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,29-06-2021,26-11-2022,21,48,EA,1,48,150,7200,Outpatient Department
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,EA,EA,Rivet,V672,...,08-05-2021,04-05-2022,21,64,EA,1,4,5,20,Surgical Department
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,26-02-2021,31-07-2022,21,96,EA,1,34,2000,68000,Paramedical Department
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-05-2021,12-11-2022,2,99,EA,1,29,8,232,Paramedical Department
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,23-07-2021,17-08-2022,2,93,EA,1,5,20,100,Surgical Department

In [5]:
df['Item_Description'].value_counts()

Forceps                     36
Stretcher                   19
First Aid Kit               19
Scissor                     19
Magnifier                   19
Torch                       19
Weighing Scale              19
Face Mask                   19
Stethscope                  19
Gloves                      19
Scalpel                     19
Nebulizers                  18
Kickbuckets                 18
Surgical Clamps             18
Otoscope                    18
ECG Machine                 18
Instrument Table            18
Traction Equipment          18
Defibrillators              18
Thermometer                 18
Tourniquet                  18
Braces                      18
Crutches                    18
Mayo Stands                 18
Surgical Table              18
Splints                     18
Gauze                       18
Dropper                     18
Sutures                     18
Needle                      18
Arm Supports                18
Anesthesia machine          18
Needle Holder               18
Surgical Mask               18
Plaster                     18
Slings                      18
Microscope                  18
Utility Table               18
Medical Syringe Infusion    18
Walkers                     18
Surgical lights             18
Wheelchairs                 18
Medicine Cup                18
Cotton Wool                 18
Trays                       18
Cane                        18
Ventilator                  18
Pacemakers                  18
Bandag                      18
Syringe                     18
Cotton Swabs                18
Oxygen Mask                 18
Saline Bag                  18
X-ray Machine               18
Name: Item_Description, dtype: int64

In [6]:
def Item(x):
    if x == 'Face Mask':
        return 'PK100'
    elif x == 'Gloves':
        return 'PK100'
    elif x == 'Surgical Mask':
        return 'PK100'
    elif x == 'Cotton Swabs':
        return 'PK100'
    elif x == 'Bandage':
        return 'PK50'
    elif x == 'Syringe':
        return 'PK50'
    elif x == 'Oxygen Mask':
        return 'PK50'
    elif x == 'Needle':
        return 'PK50'
    elif x == 'Needle Holder':
        return 'PK50'
    elif x == 'Forceps':
        return 'DZ'
    elif x == 'Cotton Wool':
        return 'DZ'
    elif x == 'Scissor':
        return 'DZ'
    elif x == 'Saline Bag':
        return 'DZ'
    else:
        return 'EA'

In [7]:
df['Lowest_Unit_Of_Measure'] = df['Item_Description'].apply(Item)

In [10]:
df['Purchasing_Unit_Of_Measure'] = df['Item_Description'].apply(Item)

In [12]:
df['Unit_Of_Measure'] = df['Item_Description'].apply(Item)

In [13]:
def UOM_NUM(x):
    if x == 'DZ':
        return 12
    elif x == 'PK100':
        return 100
    elif x == 'PK50':
        return 50
    else:
        return 1

In [14]:
df['Unit_Of_Measure_In_Number'] = df['Unit_Of_Measure'].apply(UOM_NUM)

In [15]:
df.head(10)

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_Start_Date,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Unit_Price ($),Total_Price ($),Department
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,29-06-2021,26-11-2022,21,48,EA,1,48,150,7200,Outpatient Department
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,DZ,DZ,Rivet,V672,...,08-05-2021,04-05-2022,21,64,DZ,12,4,5,20,Surgical Department
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,26-02-2021,31-07-2022,21,96,EA,1,34,2000,68000,Paramedical Department
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-05-2021,12-11-2022,2,99,EA,1,29,8,232,Paramedical Department
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,23-07-2021,17-08-2022,2,93,EA,1,5,20,100,Surgical Department
5,16-01-2022,PO0006,IT6,Torch,Poly Medicure Ltd,318,EA,EA,Etactics,V658,...,30-05-2021,07-02-2023,2,76,EA,1,35,5,175,Paramedical Department
6,22-06-2021,PO0007,IT7,Face Mask,Ribbel International Ltd,378,PK100,PK100,HealthXNet,V565,...,06-10-2021,21-09-2022,10,39,PK100,100,47,1,47,Nursing Department
7,10-10-2022,PO0008,IT8,First Aid Kit,Advin Healthcare,324,EA,EA,CompMed,V453,...,22-04-2021,05-01-2023,15,72,EA,1,6,10,60,Outpatient Department
8,23-10-2021,PO0009,IT9,Gloves,Aegis Lifesciences Private Limited,398,PK100,PK100,Ritiko LLC,V878,...,18-03-2021,02-10-2022,16,17,PK100,100,10,2,20,Nursing Department
9,04-05-2022,PO0010,IT10,Scalpel,Smiths Medical,365,EA,EA,Ability Network,V222,...,12-06-2021,10-12-2022,13,46,EA,1,30,5,150,Nursing Department

In [25]:
df = df.rename({"Unit_Price ($)\t " :"Unit_Price"})

In [26]:
df.dtypes

PO_Date                       object
PO_Number                     object
Item_ID                       object
Item_Description              object
Manufacturer_Name             object
Manufacturer_ID                int64
Lowest_Unit_Of_Measure        object
Purchasing_Unit_Of_Measure    object
Vendor_Name                   object
Vendor_ID                     object
Vendor_City                   object
Vendor_Active_Status          object
Contract_ID                    int64
Contract_Description          object
Contract_Type                 object
Contract_Start_Date           object
Contract_End_Date             object
Contract_Price(Million)        int64
Contract_UOM                   int64
Unit_Of_Measure               object
Unit_Of_Measure_In_Number      int64
Quantity_(at_UOM)              int64
Unit_Price ($)\t               int64
Total_Price ($)                int64
Department                    object
dtype: object

In [28]:
df['Unit_Price'] = df['Unit_Price ($)\t']

In [33]:
df.drop("Unit_Price ($)\t",axis=1,inplace = True)

In [34]:
df.head()

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_Start_Date,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Total_Price ($),Department,Unit_Price
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,29-06-2021,26-11-2022,21,48,EA,1,48,7200,Outpatient Department,150
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,DZ,DZ,Rivet,V672,...,08-05-2021,04-05-2022,21,64,DZ,12,4,20,Surgical Department,5
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,26-02-2021,31-07-2022,21,96,EA,1,34,68000,Paramedical Department,2000
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-05-2021,12-11-2022,2,99,EA,1,29,232,Paramedical Department,8
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,23-07-2021,17-08-2022,2,93,EA,1,5,100,Surgical Department,20

In [35]:
df['Price_Per_UOM'] = df['Unit_Of_Measure_In_Number'] * df['Unit_Price']

In [36]:
df.head()

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Total_Price ($),Department,Unit_Price,Price_Per_UOM
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,26-11-2022,21,48,EA,1,48,7200,Outpatient Department,150,150
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,DZ,DZ,Rivet,V672,...,04-05-2022,21,64,DZ,12,4,20,Surgical Department,5,60
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,31-07-2022,21,96,EA,1,34,68000,Paramedical Department,2000,2000
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-11-2022,2,99,EA,1,29,232,Paramedical Department,8,8
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,17-08-2022,2,93,EA,1,5,100,Surgical Department,20,20

In [37]:
df['Total_Price ($)'] = df['Quantity_(at_UOM)'] * df['Price_Per_UOM']

In [38]:
df.head()

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Total_Price ($),Department,Unit_Price,Price_Per_UOM
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,26-11-2022,21,48,EA,1,48,7200,Outpatient Department,150,150
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,DZ,DZ,Rivet,V672,...,04-05-2022,21,64,DZ,12,4,240,Surgical Department,5,60
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,31-07-2022,21,96,EA,1,34,68000,Paramedical Department,2000,2000
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-11-2022,2,99,EA,1,29,232,Paramedical Department,8,8
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,17-08-2022,2,93,EA,1,5,100,Surgical Department,20,20

In [39]:
df.drop('Unit_Price', axis=1, inplace = True)

In [40]:
df.head()

,PO_Date,PO_Number,Item_ID,Item_Description,Manufacturer_Name,Manufacturer_ID,Lowest_Unit_Of_Measure,Purchasing_Unit_Of_Measure,Vendor_Name,Vendor_ID,...,Contract_Start_Date,Contract_End_Date,Contract_Price(Million),Contract_UOM,Unit_Of_Measure,Unit_Of_Measure_In_Number,Quantity_(at_UOM),Total_Price ($),Department,Price_Per_UOM
0,22-06-2022,PO0001,IT1,Stethscope,Johnson & Johnson,301,EA,EA,WellSky,V135,...,29-06-2021,26-11-2022,21,48,EA,1,48,7200,Outpatient Department,150
1,11-08-2022,PO0002,IT2,Scissor,Teleflex,315,DZ,DZ,Rivet,V672,...,08-05-2021,04-05-2022,21,64,DZ,12,4,240,Surgical Department,60
2,24-08-2021,PO0003,IT3,Stretcher,3M Company,372,EA,EA,FGA Inc,V522,...,26-02-2021,31-07-2022,21,96,EA,1,34,68000,Paramedical Department,2000
3,31-05-2021,PO0004,IT4,Magnifier,Terumo,351,EA,EA,Quadax Inc,V797,...,12-05-2021,12-11-2022,2,99,EA,1,29,232,Paramedical Department,8
4,13-11-2022,PO0005,IT5,Weighing Scale,Nipro,347,EA,EA,OmniSys,V486,...,23-07-2021,17-08-2022,2,93,EA,1,5,100,Surgical Department,20

In [41]:
df.to_csv("Pandas.csv")