In [2]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":['AA BB CC AA',"BB BB"]})
df

             A
0  AA BB CC AA
1        BB BB

In [26]:
def Remove_duplicate(data):
    data_new = ""
    for x in data.split():
        if x not in data_new:
            data_new = (data_new+x+" ")
    return data_new.strip()

df['A'] = df['A'].apply(Remove_duplicate)
df

          A
0  AA BB CC
1        BB

In [21]:
s = 'aaaabbbaabbcc'
output_string = ''
current_char = s[0]
count=1

for i in range(1,len(s)):
    if s[i]==current_char:
        count=count+1
    else:
        output_string = output_string + current_char + str(count)
        current_char = s[i]
        count=1
output_string = output_string + current_char + str(count)
print(output_string)

a4b3a2b2c2

In [23]:
s = 'aaabbaacccc'
output = ''
current_char = s[0]
count = 1
for i in range(1,len(s)):
    if s[i] == current_char:
        count = count+1
    else:
        output = output + current_char + str(count)
        current_char = s[i]
        count = 1
        
output = output + current_char + str(count)
print(output)

a3b2a2c4

In [24]:
s = 'aaabbaacccc'
output = ''
current_char = s[0]
count = 1
for i in range(1,len(s)):
    if s[i] == current_char:
        count = count+1
    else:
        output = output + str(count) + current_char
        current_char = s[i]
        count = 1
        
output = output + str(count) + current_char
print(output)

3a2b2a4c