In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark.sql'

In [3]:
print(dir(pyspark.sql))

AttributeError: module 'pyspark' has no attribute 'sql'

In [4]:
spark = SparkSession.builder.appName("Test").getOrCreate()
spark

NameError: name 'SparkSession' is not defined

In [5]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

In [6]:
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)

In [7]:
# Create RDD from external Data source
rdd2 = spark.sparkContext.textFile("/path/test.txt")

In [8]:
import pandas as pd

In [9]:
pd.read_csv('Test.csv').head()

      Name  Marks
0  shubham   90.0
1      Jay   80.0
2   Akshay   85.0
3  shubham   90.0
4      Jay   80.0

In [10]:
# df = spark.read.csv('Test.csv',header = True, inferSchema=True)
df = spark.read.csv("Test.csv", inferSchema = True, header = True)
df.show(5)
df.toPandas()
df.toPandas().shape

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
| Akshay| 85.0|
|shubham| 90.0|
|    Jay| 80.0|
+-------+-----+
only showing top 5 rows

(43, 2)

In [13]:
display(df)

DataFrame[Name: string, Marks: double]

## Validate Data

In [11]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Marks: double (nullable = true)

In [12]:
df.columns

['Name', 'Marks']

In [13]:
df.describe().show()

+-------+-------+------------------+
|summary|   Name|             Marks|
+-------+-------+------------------+
|  count|     43|                43|
|   mean|   null| 48.43023255813954|
| stddev|   null|29.205874611957622|
|    min| Akshay|              -2.5|
|    max|shubham|              90.0|
+-------+-------+------------------+

In [14]:
df.schema["Name"].dataType

StringType

In [15]:
df.schema["Name"]

StructField(Name,StringType,true)

In [16]:
df.schema

StructType(List(StructField(Name,StringType,true),StructField(Marks,DoubleType,true)))

In [17]:
df.select("Name","Marks").summary().show()

+-------+-------+------------------+
|summary|   Name|             Marks|
+-------+-------+------------------+
|  count|     43|                43|
|   mean|   null| 48.43023255813954|
| stddev|   null|29.205874611957622|
|    min| Akshay|              -2.5|
|    25%|   null|              22.5|
|    50%|   null|              50.0|
|    75%|   null|              77.5|
|    max|shubham|              90.0|
+-------+-------+------------------+

## Search and Filter Dataframe

In [18]:
df.select("Name","Marks").show(5)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
| Akshay| 85.0|
|shubham| 90.0|
|    Jay| 80.0|
+-------+-----+
only showing top 5 rows

In [19]:
df.select(['Name',"Marks"]).orderBy(df["Marks"].asc()).show(5)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| -2.5|
| Akshay|  0.0|
|    Jay|  2.5|
|shubham|  5.0|
| Akshay|  7.5|
+-------+-----+
only showing top 5 rows

In [20]:
df.select("Name","Marks").where(df.Name.like("shu%")).show(3)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|shubham| 90.0|
|shubham| 90.0|
+-------+-----+
only showing top 3 rows

In [21]:
df.select("Name",df.Name.substr(-4,2)).show(3)

+-------+----------------------+
|   Name|substring(Name, -4, 2)|
+-------+----------------------+
|shubham|                    bh|
|    Jay|                     J|
| Akshay|                    sh|
+-------+----------------------+
only showing top 3 rows

In [22]:
import pyspark

In [23]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.appName("Test_1").getOrCreate()
spark

In [25]:
df = spark.read.csv("Test.csv", inferSchema = True, header = True)
df.show(5)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
| Akshay| 85.0|
|shubham| 90.0|
|    Jay| 80.0|
+-------+-----+
only showing top 5 rows

In [26]:
df.select("*").orderBy((df["Marks"]).desc()).show(3)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|shubham| 90.0|
|shubham| 90.0|
+-------+-----+
only showing top 3 rows

In [27]:
df.select(["Name","Marks"]).where(df["Marks"]>=80).show(3)
df.select(["Name","Marks"]).where(df.Name.like ("shu%")).show(3)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
| Akshay| 85.0|
+-------+-----+
only showing top 3 rows

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|shubham| 90.0|
|shubham| 90.0|
+-------+-----+
only showing top 3 rows

In [28]:
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[78] at emptyRDD at <unknown>:0

In [29]:
spark.sparkContext.parallelize([])

ParallelCollectionRDD[79] at readRDDFromFile at PythonRDD.scala:274

In [30]:
# Default - displays 20 rows and 
# 20 charactes from column value 
# df.show()

# #Display full column contents
# df.show(truncate=False)

# Display 2 rows and full column contents
df.show(2,truncate=False) 

# Display 2 rows & column values 25 characters
df.show(2,truncate=25) 

# Display DataFrame rows & columns vertically
df.show(n=5,truncate=25,vertical=True)

+-------+-----+
|Name   |Marks|
+-------+-----+
|shubham|90.0 |
|Jay    |80.0 |
+-------+-----+
only showing top 2 rows

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
+-------+-----+
only showing top 2 rows

-RECORD 0--------
 Name  | shubham
 Marks | 90.0
-RECORD 1--------
 Name  | Jay
 Marks | 80.0
-RECORD 2--------
 Name  | Akshay
 Marks | 85.0
-RECORD 3--------
 Name  | shubham
 Marks | 90.0
-RECORD 4--------
 Name  | Jay
 Marks | 80.0
only showing top 5 rows

In [31]:
df = spark.read.csv("final-loan.csv", inferSchema = True, header = True)
df.show(5)
df.limit(4).toPandas()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 5 rows

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360,1,Urban,Y

In [32]:
df.select("Gender","Married").show(3)
df.select(df.Gender,df.Married).show(3)
df.select(df["Gender"],df["Married"]).show(3)

+------+-------+
|Gender|Married|
+------+-------+
|  Male|     No|
|  Male|    Yes|
|  Male|    Yes|
+------+-------+
only showing top 3 rows

+------+-------+
|Gender|Married|
+------+-------+
|  Male|     No|
|  Male|    Yes|
|  Male|    Yes|
+------+-------+
only showing top 3 rows

+------+-------+
|Gender|Married|
+------+-------+
|  Male|     No|
|  Male|    Yes|
|  Male|    Yes|
+------+-------+
only showing top 3 rows

In [33]:
df.select("*").show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|              0.0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [34]:
df.select([col for col in df.columns]).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|              0.0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [35]:
df.select(df.columns[-4:-1]).show(4)

+----------------+--------------+-------------+
|Loan_Amount_Term|Credit_History|Property_Area|
+----------------+--------------+-------------+
|             360|             1|        Urban|
|             360|             1|        Rural|
|             360|             1|        Urban|
|             360|             1|        Urban|
+----------------+--------------+-------------+
only showing top 4 rows

In [36]:
df.select(df.columns[1:4]).show(4)

+------+-------+----------+
|Gender|Married|Dependents|
+------+-------+----------+
|  Male|     No|         0|
|  Male|    Yes|         1|
|  Male|    Yes|         0|
|  Male|    Yes|         0|
+------+-------+----------+
only showing top 4 rows

In [37]:
dataCollect = df.collect()
print(dataCollect)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [38]:
df.collect()[3][0]

'LP001006'

In [39]:
df.limit(5).toPandas()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360,1,Urban,Y

In [40]:
df.select("Loan_ID").collect()[3][0]

'LP001006'

In [41]:
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

### Datatype casting Opt 1

In [42]:
from pyspark.sql.types import *
df = df.withColumn("CoapplicantIncome",df["CoapplicantIncome"].cast(IntegerType()))\
        .withColumn("Dependents",df["Dependents"].cast(IntegerType()))
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

### Datatype casting Opt 2

In [110]:
df4 = df.select(df["CoapplicantIncome"].cast(IntegerType()),df["Dependents"].cast(IntegerType()))
        
df4.printSchema()

root
 |-- CoapplicantIncome: integer (nullable = true)
 |-- Dependents: integer (nullable = true)

### Datatype casting with astype

In [ ]:
#df3 = df.select(df["Dependents"].astype("string"))

In [43]:
df_ = df.withColumn("CoapplicantIncome_mul",df["CoapplicantIncome"]*100)
df_.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)
 |-- CoapplicantIncome_mul: integer (nullable = true)

In [44]:
df_ = df_.drop("CoapplicantIncome_mul")

In [45]:
df_.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

In [46]:
df_.withColumnRenamed("Loan_ID","ID").limit(5).toPandas()

,ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360,1,Urban,Y

In [47]:
df.filter(df.CoapplicantIncome==0).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0| Graduate|           No|           6000|                0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [48]:
df.filter(~(df.CoapplicantIncome!=0)).show(3)  # ~ workd for inverse match with condition

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0| Graduate|           No|           6000|                0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [49]:
from pyspark.sql.functions import col

In [50]:
df.filter(col("Gender")=="Male").show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [51]:
df.filter(df["Gender"]=="Male").show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [52]:
df.filter("Education <> 'Graduate'").show(3)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|             2358|       120|             360|             1|        Urban|          Y|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|             1516|        95|             360|             1|        Urban|          Y|
|LP001034|  Male|     No|         1|Not Graduate|           No|           3596|                0|       100|             240|          null|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [53]:
df.filter("Education == 'Graduate'").show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [54]:
df.filter(df.Education == 'Graduate').show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

## PySpark Filter with Multiple Conditions

In [55]:
df.filter((df.Gender=="Male") & (df.Self_Employed=="Yes")).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
|LP001011|  Male|    Yes|         2| Graduate|          Yes|           5417|             4196|       267|             360|             1|        Urban|          Y|
|LP001066|  Male|    Yes|         0| Graduate|          Yes|           9560|                0|       191|             360|             1|    Semiurban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [56]:
df.filter(df.Gender.isin("Male")).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [57]:
df.filter(df.Gender.startswith("M")).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [58]:
df.filter(df.Gender.endswith("e")).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [59]:
df.filter(col("Gender").startswith("M")).show(3)
df.filter(df["Gender"].startswith("M")).show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [60]:
df.select("Gender").where (df["Gender"]=="Male").show(2)

+------+
|Gender|
+------+
|  Male|
|  Male|
+------+
only showing top 2 rows

## PySpark Distinct to Drop Duplicate Rows

In [61]:
df1 = spark.read.csv("Test.csv", inferSchema = True, header = True)
df1.show(3)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|    Jay| 80.0|
| Akshay| 85.0|
+-------+-----+
only showing top 3 rows

In [62]:
distinctDF = df1.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(3,truncate=False)
print(df1.count())

Distinct count: 37
+-------+-----+
|Name   |Marks|
+-------+-----+
|shubham|57.5 |
|Jay    |55.0 |
|shubham|80.0 |
+-------+-----+
only showing top 3 rows

43

In [63]:
df2 = df1.dropDuplicates(["Marks"])
df2.count()

36

## PySpark orderBy() and sort() explained

In [64]:
df1.sort("Name","Marks").show(5)

+------+-----+
|  Name|Marks|
+------+-----+
|Akshay|  0.0|
|Akshay|  7.5|
|Akshay| 15.0|
|Akshay| 22.5|
|Akshay| 30.0|
+------+-----+
only showing top 5 rows

In [65]:
df1.sort(["Name","Marks"]).show(5)

+------+-----+
|  Name|Marks|
+------+-----+
|Akshay|  0.0|
|Akshay|  7.5|
|Akshay| 15.0|
|Akshay| 22.5|
|Akshay| 30.0|
+------+-----+
only showing top 5 rows

In [66]:
df1.sort(col("Name"),col("Marks")).show(3)

+------+-----+
|  Name|Marks|
+------+-----+
|Akshay|  0.0|
|Akshay|  7.5|
|Akshay| 15.0|
+------+-----+
only showing top 3 rows

In [67]:
df1.orderBy("Name","Marks").show(5)

+------+-----+
|  Name|Marks|
+------+-----+
|Akshay|  0.0|
|Akshay|  7.5|
|Akshay| 15.0|
|Akshay| 22.5|
|Akshay| 30.0|
+------+-----+
only showing top 5 rows

In [68]:
df1.orderBy(df1["Name"]).show(5)

+------+-----+
|  Name|Marks|
+------+-----+
|Akshay| 60.0|
|Akshay| 22.5|
|Akshay| 52.5|
|Akshay| 85.0|
|Akshay| 45.0|
+------+-----+
only showing top 5 rows

In [69]:
df1.orderBy(df1.Name.desc(),df1.Marks.asc()).show(5)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| -2.5|
|shubham|  5.0|
|shubham| 12.5|
|shubham| 20.0|
|shubham| 27.5|
+-------+-----+
only showing top 5 rows

In [70]:
df1.orderBy(col('Name').desc(),col("Marks").desc()).show(4)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|shubham| 90.0|
|shubham| 90.0|
|shubham| 80.0|
+-------+-----+
only showing top 4 rows

In [71]:
df1.sort(col('Name').desc(),col("Marks").desc()).show(4)

+-------+-----+
|   Name|Marks|
+-------+-----+
|shubham| 90.0|
|shubham| 90.0|
|shubham| 90.0|
|shubham| 80.0|
+-------+-----+
only showing top 4 rows

In [72]:
df.show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

## PySpark Groupby

In [74]:
df.groupBy("Gender").count().show()

+------+------+
|Gender| count|
+------+------+
|  null|  2727|
|Female| 23501|
|  Male|102607|
+------+------+

In [75]:
df.groupby(df["Gender"]).count().show()

+------+------+
|Gender| count|
+------+------+
|  null|  2727|
|Female| 23501|
|  Male|102607|
+------+------+

In [76]:
df.groupby(df.Gender).count().show()

+------+------+
|Gender| count|
+------+------+
|  null|  2727|
|Female| 23501|
|  Male|102607|
+------+------+

In [77]:
df.groupby(df.Gender).sum("ApplicantIncome").show()

+------+--------------------+
|Gender|sum(ApplicantIncome)|
+------+--------------------+
|  null|            28193366|
|Female|           109105278|
|  Male|           558899432|
+------+--------------------+

In [78]:
df.groupby(df.Gender).min("ApplicantIncome").show()

+------+--------------------+
|Gender|min(ApplicantIncome)|
+------+--------------------+
|  null|                 674|
|Female|                 210|
|  Male|                 150|
+------+--------------------+

In [79]:
df.groupBy("Gender","Education").count().show()

+------+------------+-----+
|Gender|   Education|count|
+------+------------+-----+
|  null|Not Graduate|  210|
|  Male|Not Graduate|23709|
|  Male|    Graduate|78898|
|Female|Not Graduate| 4196|
|  null|    Graduate| 2517|
|Female|    Graduate|19305|
+------+------------+-----+

In [82]:
df.groupBy("Gender","Education").sum("ApplicantIncome","CoapplicantIncome").show()

+------+------------+--------------------+----------------------+
|Gender|   Education|sum(ApplicantIncome)|sum(CoapplicantIncome)|
+------+------------+--------------------+----------------------+
|  null|Not Graduate|              706650|                402570|
|  Male|Not Graduate|            86062185|              33217699|
|  Male|    Graduate|           472837247|             145604676|
|Female|Not Graduate|            19417993|               2272797|
|  null|    Graduate|            27486716|               3596560|
|Female|    Graduate|            89687285|              23736835|
+------+------------+--------------------+----------------------+

In [93]:
df.show(3)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|                0|      null|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1| Graduate|           No|           4583|             1508|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0| Graduate|          Yes|           3000|                0|        66|             360|             1|        Urban|          Y|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 3 rows

In [95]:
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

In [97]:
#df.groupBy("Dependents").agg(sum("ApplicantIncome").alias("sum_app")).show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## UDF

In [101]:
df3 = df.select(df["Dependents"].astype("string"))
df3.printSchema()

root
 |-- Dependents: string (nullable = true)

In [112]:
def add(df):
    return x**2

In [114]:
df3 = df.select("CoapplicantIncome")
df3.printSchema()

root
 |-- CoapplicantIncome: integer (nullable = true)

In [120]:
add_co = udf(lambda x: add(x))

In [119]:
from pyspark.sql.functions import *

In [124]:
# df.select(add_co(col("CoapplicantIncome")).alias("CoapplicantIncome") ) \
#    .show(5,truncate=False)

In [126]:
df4 = df.select("Gender")
df4.printSchema()

root
 |-- Gender: string (nullable = true)

In [125]:
def upperCase(str):
    return str.upper()


upperCaseUDF = udf(lambda z:upperCase(z),StringType())   

df4.withColumn("Cureated Name", upperCaseUDF(col("Gender"))) \
  .show(truncate=False)