In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":['AA BB CC AA',"BB BB"]})
df

             A
0  AA BB CC AA
1        BB BB

In [26]:
def Remove_duplicate(data):
    data_new = ""
    for x in data.split():
        if x not in data_new:
            data_new = (data_new+x+" ")
    return data_new.strip()

df['A'] = df['A'].apply(Remove_duplicate)
df

          A
0  AA BB CC
1        BB