In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("final-loan.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
column = df.columns
column

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [12]:
df.dtypes.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('int64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O')],
      dtype=object)

In [11]:
for x in (df.dtypes.values):
    print(str(x))

object
object
object
object
object
object
int64
float64
float64
float64
float64
object
object

In [14]:
 [str(x) for x in df.dtypes.values]

['object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'int64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object',
 'object']

In [7]:
dtype = list(map(lambda x:str(x),df.dtypes.values))
dtype

['object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'int64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object',
 'object']

In [13]:
dict(zip(column,dtype))

{'Loan_ID': 'object',
 'Gender': 'object',
 'Married': 'object',
 'Dependents': 'object',
 'Education': 'object',
 'Self_Employed': 'object',
 'ApplicantIncome': 'int64',
 'CoapplicantIncome': 'float64',
 'LoanAmount': 'float64',
 'Loan_Amount_Term': 'float64',
 'Credit_History': 'float64',
 'Property_Area': 'object',
 'Loan_Status': 'object'}